node_modules/
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Firebase
functions/lib/
functions/node_modules/

# Secrets
.env
.env.local
GoogleService-Info.plist

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
